In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv('car driving risk analysis.csv')

In [6]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       16        13.0    20
2    300       12         4.0    93
3    110       10         NaN    55
4    240        8         4.0    60
5    115        9         8.0    15
6     50        2         7.0    10
7    230        5         5.0    70

In [7]:
df.isnull().sum()

speed         0
car_age       0
experience    1
risk          0
dtype: int64

In [8]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     4.0
5     8.0
6     7.0
7     5.0
Name: experience, dtype: float64

In [10]:
df.experience.mean()

6.571428571428571

In [11]:
df.experience.median()

5.0

In [12]:
exp_fit=df.experience.median()

In [13]:
exp_fit

5.0

In [14]:
df.experience=df.experience.fillna(exp_fit)

In [15]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     4.0
5     8.0
6     7.0
7     5.0
Name: experience, dtype: float64