In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('car driving risk analysis.csv')

In [5]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       16        13.0    20
2    300       12         4.0    93
3    110       10         NaN    55
4    240        8         4.0    60
5    115        9         8.0    15
6     50        2         7.0    10
7    230        5         5.0    70

In [6]:
df.isnull().sum()

speed         0
car_age       0
experience    1
risk          0
dtype: int64

In [8]:
df.experience.median()

5.0

In [9]:
exp_fit=df.experience.median()
df.experience=df.experience.fillna(exp_fit)

In [10]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       16        13.0    20
2    300       12         4.0    93
3    110       10         5.0    55
4    240        8         4.0    60
5    115        9         8.0    15
6     50        2         7.0    10
7    230        5         5.0    70

In [12]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

In [13]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

In [15]:
reg.predict([[160,10,5]])

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([59.15511657])

In [16]:
reg.coef_

array([ 0.16335437,  2.7653211 , -5.99358721])

In [17]:
reg.intercept_

35.333143176433104

In [19]:
0.16335437*160+2.7653211*10-5.99358721*5+35.333143176433104

59.1551173264331